## Types of Variables

In [67]:
a="3"
b=4
c=3.6
d=6j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

## Equality of variables

In [68]:
a=b=c="Mango"
print(a,b,c)

Mango Mango Mango

In [69]:
a,b,c="Banana","Peach","Guava"
print(a,b,c)

Banana Peach Guava

## Def function

In [70]:
x="awesome"
def myfunc():
    print("Python is too "+x+" Programming Language")
myfunc()

Python is too awesome Programming Language

## Length of the String

In [71]:
a="Sher Ali Azeem"
print(len(a))

14

## Slicing a string

In [72]:
a="Sher Ali Azeem"
print(a[0:7])

Sher Al

In [1]:
a="SHERAlIAZEEM"
print(a[2:11:2])

EAIZE

## INDENTATION

### (a) Center

In [73]:
a="Sher Ali Azeem"
a.center(50,"-")

'------------------Sher Ali Azeem------------------'

### (b) Left-justify

In [74]:
a="Sher Ali Azeem"
a.ljust(30,"-")

'Sher Ali Azeem----------------'

### (c) Right-justify

In [75]:
a="Sher Ali Azeem"
a.rjust(30,"-")

'----------------Sher Ali Azeem'

## Sum and Product of Strings

In [76]:
a="Sher "
b="Ali "
c="Azeem"
sum=a+b*2+c
print(sum)

Sher Ali Ali Azeem

## Def Func

In [ ]:
def fun():
    name="Sher ali Azeem"
    age=21
    Qualification="BSc Tranportation"
    city="Lahore"
    country="Pakistan"
    print(name,age,Qualification,city,country)
fun()

Sher ali Azeem 21 BSc Tranportation Lahore Pakistan

In [ ]:
def add_num(n1,n2,n3):
    print(n1+n2+n3)
add_num(10,11,12)

33

## Lambda Function

In [ ]:
x=lambda x,y : x**y
x(2,3)

8

## For loop

In [ ]:
Days=["Mon","Tue","Wed","Thurs","Fri","Sat","Sun"]
for i in Days:
    if(i=="Fri"):
        break
    print(i)

Mon
Tue
Wed
Thurs

In [ ]:
Days=["Mon","Tue","Wed","Thurs","Fri","Sat","Sun"]
for i in Days:
    if(i=="Fri"):
       continue
    print(i)

Mon
Tue
Wed
Thurs
Sat
Sun

## While Loop

In [ ]:
X=1
while(X<10):
    print(X)
    X=X+2

1
3
5
7
9

## Lists

In [ ]:
list1=[2,9,6,3,87,21,32]
list1.sort()
print(list1)

[2, 3, 6, 9, 21, 32, 87]

## Reverse the elements of list

In [ ]:
list1=[2,9,6,3,87,21,32]
list1.reverse()
print(list1)

[32, 21, 87, 3, 6, 9, 2]

## Directory of List

In [ ]:
a=[]
print(dir(a))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## Pop

In [ ]:
list1=[2,9,6,3,87,21,32]
list1.pop(4)
print(list1)

[2, 9, 6, 3, 21, 32]

## Count

In [ ]:
list1=[2,9,6,3,87,21,32]
list1.count(3)

1

## Dictionary

In [ ]:
my_dict={"Sher ali":20,"Faisal":19,"Avais":18}
print(my_dict)

{'Sher ali': 20, 'Faisal': 19, 'Avais': 18}

## Sets

### (a) Union

In [5]:
a={1,2,4,9}
b={8,12,3,11}
a.union(b)

{1, 2, 3, 4, 8, 9, 11, 12}

### (b) Intersection

In [7]:
a={1,2,4,9}
b={8,12,4,3,11}
a.intersection(b)

{4}

## If-Else

In [ ]:
n1=20
n2=30
sum=n1+n2
product=n1*n2
if product < 1000:
    print(product)
else:
    print(sum)

600

In [ ]:
n1=20
n2=30
sum=n1+n2
product=n1*n2
if product > 1000:
    print(product)
else:
    print(sum)

50

In [8]:
new_str="SHER"
rev_str=new_str[::-1]
if new_str==rev_str:
    print("It is a Palindrome")
else:
    print("It is not a Palindrome")

It is not a Palindrome

In [6]:
new_str="rotator"
rev_str=new_str[::-1]
if new_str == rev_str:
    print("It is a Palindrome")
else:
    print("It is not a Palindrome")

It is a Palindrome

##  Slicing the odd letter integers

In [1]:
a="SHERAlIAZEEM"
print(a[1:12:2])

HRlAEM

In [7]:
a="pynative"
b=enumerate(a)
print(dict(b))

{0: 'p', 1: 'y', 2: 'n', 3: 'a', 4: 't', 5: 'i', 6: 'v', 7: 'e'}

In [4]:
s1 = {1,2,3,4,5,6,7,8,9,10}
s2 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}
s1.intersection(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
s1 = {1,2,3,4,5,6,7,8,9,10}
s2 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}
s2.issuperset(s1)

True

In [8]:
a={1,2,3,8,9,10}
b={1,3,5}
a.symmetric_difference(b)

{2, 5, 8, 9, 10}

In [1]:
# To find the zip of two lists
a=[1,2,3,4]
b=[7,"Sher Ali",3j,0]
ziplist=zip(a,b)
print(list(ziplist))

[(1, 7), (2, 'Sher Ali'), (3, 3j), (4, 0)]

In [3]:
a=[7,"Sher Ali",3j,0]
b=enumerate(a)
print(list(b))

[(0, 7), (1, 'Sher Ali'), (2, 3j), (3, 0)]

In [7]:
import cmath
a=int(input("Enter value of a = "))
b=int(input("Enter value of b = "))
c=int(input("Enter value of c = "))
d=(b**2)-(4*a*c)
root1=(-b-cmath.sqrt(d))/(2*a)
root2=(-b+cmath.sqrt(d))/(2*a)
print(root1)
print(root2)

(-7+0j)
(6+0j)

In [3]:
a=[1,2,[3,8,9],4]
b=enumerate(a)
print(len(list(b)))

4

In [9]:
a=(1,2,[3,8,9],4,8,[76,19,45,11,23,10,"Sher Ali"])
b=list(a)
b[5][3]="Avais Azeem"
a=tuple(b)
print(a)

(1, 2, [3, 8, 9], 4, 8, [76, 19, 45, 'Avais Azeem', 23, 10, 'Sher Ali'])